{% extends 'layout.html' %}

{% block body %}
    <h1>{{ the_measure[0][2] }}</h1>
    {% if sd %}
    <div class="row">
      <div class="col-md-9">
          <br>
          <h4>График распределения</h4>

          <!--Load the AJAX API-->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                      var data = new google.visualization.DataTable();
                      data.addColumn('number', 'X');
                      data.addColumn('number', 'Частота');
                      data.addColumn('number', 'Вероятность');

                      data.addRows(
                        {{ sdata }}
                      );



                      var options = {
                        vAxis: {
                            gridlines: {color: '#414951'}
                        },
                        hAxis: {
                            gridlines: {count: 0},
                        },
                        chartArea: {
                            left:0,
                            top:0,
                            width:'1000%',
                            height:'100%'
                        },
                        bar: {
                            gap: 1
                        },
                        colors: ['#fff', '#28a745'],
                        dataOpacity: 0.8,

                        legend: {
                            position: 'none'
                        },
                        height: 380,
                        backgroundColor: {
                            fill:'#343A40'
                        }
                      };

                      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

                      chart.draw(data, options);

            }
            </script>

            <!--Div that will hold the pie chart-->
            <div id="chart_div"></div>

      </div>

      <div class="col-md-3 ml-auto">
          <br>
          <h4>Вероятность событий</h4>
          {% from "includes/_formtamplate.html" import form_render %}
          <form method="POST" action="" enctype="multipart/form-data">
                {{ form_render(form1) }}
                <p>
                    <input type="submit" class="btn btn-success" value="Рассчитать вероятность">
                </p>

            </form>

          <h6>Математическое ожидание</h6>
          <p><kbd>{{ probability }}, {{ test }}</kbd></p>
          <form method="POST" action="" enctype="multipart/form-data">
                {{ form_render(form2) }}
                <p>
                    <input type="submit" class="btn btn-success" value="Рассчитать дов. интервал">
                </p>

            </form>
      </div>
    </div>


    <br>
    <br>

    <div class="row">
        <div class="col-md-9">
            <h4>Статистики</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Статистика</th>
                  <th scope="col">Значение</th>
                </tr>
              </thead>
              <tbody>
              {% for i in sd %}
                <tr>
                  <td>{{ i }}</td>
                  <td>{{ sd[i] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="col-md-3 ml-auto">
            <h4>Фильтры</h4>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form_render(form3) }}
                <p>
                    <input type="submit" class="btn btn-outline-dark" value="Посмотреть">
                </p>

            </form>
        </div>
    </div>
    {% else %}
        <img src="https://static9.depositphotos.com/1594920/1086/i/450/depositphotos_10868487-stock-photo-female-owl-and-a-owlet.jpg">
    {% endif %}
{% endblock %}